//@import 'libs/bootstrap-reboot.min';

@import 'base/fonts'
@import 'base/variables'
@import 'base/mixins'

* 
    box-sizing: border-box
    font-family: 'Raleway', sans-serif
    margin: 0
    padding: 0


h1, h2, h3, h4, h5, h6, p 
    margin: 0

button 
    border: none


//:root 
//    $main-color:  #e84545




.container 
    width: 1170px
    margin: 0 auto

@import 'blocks/menu'
@import 'blocks/promo'
@import 'blocks/header'
@import 'blocks/title'
@import 'blocks/btn'
@import 'blocks/advantages'
@import 'blocks/projects'
@import 'blocks/staff'
@import 'blocks/social'
@import 'blocks/download'
@import 'blocks/footer'

@import 'blocks/media'