.download
    padding: 100px 15px 100px 15px
    &__subtitle
        margin-top: 16px
        font-size: 13px
        font-weight: bold
        line-height: 1.62
        text-align: center
        text-transform: uppercase
        color: #2d3033
    &__btn
        margin: 40px auto 0 auto