.footer
    &__wrapper
        position: relative
        padding: 71px 10px 88px 10px
        background-color: #3a3e64
        display: flex
        align-content: center
        justify-content: space-between
    &__item
        width: 33%
        &-location
            max-width: 148px
        &-social

        &-about
            max-width: 329px
        &-title
            font-size: 14px
            font-weight: bold
            text-align: center
            text-transform: uppercase
            color: #ffffff
        &-info
            margin-top: 22px
            font-size: 14px
            line-height: 1.64
            text-align: center
            color: rgba(255, 255, 255, 0.5)
    &__item > div
        margin: 0 auto
            

    &__copyright
        padding: 29px 0 29px 0
        background-color: #313454
        &-text
            width: 312px
            margin: 0 auto
            text-align: center

            font-size: 14px
            line-height: 1.64
            color: #808080
    .heart
        color: $main-color
    .white
        color: #fff 
            


