.promo 
    min-height: 100vh
    background: url('../img/header/bg.jpg') no-repeat 50%/cover
    padding-bottom: 156px
    &__title 
        width: 861px
        margin: 156px auto 0 auto
        font-size: 65px
        font-weight: bold
        line-height: 1.09
        text-align: center
        text-transform: uppercase
        color: #ffffff
    &__descr 
        width: 916px
        margin: 41px auto 0 auto
        font-size: 22px
        line-height: 1.5
        text-align: center
        color: #ffffff
    &__btn
        margin: 77px auto 0 auto
    