.social
    display: flex
    width: 128px
    justify-content: space-between
    &__item
        display: flex
        width: 40px
        height: 40px
        justify-content: center
        align-items: center
        border: 1px solid #e8ecee
        svg
            width: 16px
            height: 16px
            path
                fill: #c6cacc
    &_white
        margin: 0 auto
        .social__item
            border: 2px solid #ffffff
            border-radius: 3px
        svg
            path
                fill: #ffffff


